@import 'styles/_variables.scss';

.container {
  h1 {
    font-size: 2em;
  }

  .projects {
    list-style-type: none;
    padding: 0;

    .project:not(:last-child) {
      border-bottom: 1px solid transparentize($color: $n1, $amount: .7);
      padding-bottom: 20px;
    }
  }
}