@import 'styles/_variables.scss';

.container {
  position: relative;
  break-inside: avoid;

  .title {
    h1 {
      display: inline-block;
    }

    .search {
      display: inline-block;

      .filter {
        width: 0;
        background-color: $bg1;
        border: 0;
        transition: width 200ms;
        padding: 1px;
        
        &:focus, &:hover {
          width: 100px;
          outline: none;
          border-bottom: 2px solid transparentize($n1, .8);
        }
    
        @include hideprint
      }
    }
  }

  .subtitle {
    margin-top: 0;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;

    .skill {
      max-width: 80%;
      flex-shrink: 0;
    }
  }

  .section {
    margin: 1em 0;
  }

  .load {
    background: $bg1;
    color: $n1;
    border: none;
    text-decoration: underline;
    cursor: pointer;

    @include hideprint
  }
}

.icon {
  font-family: 'awesome';
  font-style: normal;
  font-weight: 900;
  color: $d1;
  margin: 0 10px;

  @include hideprint
}