$grid-breakpoints: (
  sm: 576px,
  md: 960px,
  lg: 1300px
);

@function bp($key) {
  @if map-has-key($grid-breakpoints, $key) {
    @return map-get($grid-breakpoints, $key);
  }

  @warn "Unknown `#{$key}` in breakpoint map.";
  @return null;
}

@mixin d-usm {
  @media (max-width: bp("sm") - 1) {
    @content;
  }
}

@mixin d-sm {
  @media (min-width: bp("sm")) and (max-width: bp("md") - 1) {
    @content;
  }
}

@mixin d-ltmd {
  @media (max-width: bp("md") - 1) {
    @content;
  }
}

@mixin d-md {
  @media (min-width: bp("md")) and (max-width: bp("lg") -1) {
    @content;
  }
}

@mixin d-lg {
  @media (min-width: bp("lg")) {
    @content;
  }
}

@mixin d-nsm {
  @media (min-width: bp("md")) {
    @content;
  }
}

@mixin d-nmd {
  @media (max-width: bp("md") - 1), (min-width: bp("lg")) {
    @content;
  }
}

@mixin d-nlg {
  @media (max-width: bp("lg") - 1) {
    @content;
  }
}

@mixin hideprint {
  @media print {
    display: none;
  }
}
