@import './variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@font-face {
  font-family: 'awesome';
  font-style: normal;
  font-weight: 900;
  src: url('https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff2') format('woff2');
}

@font-face {
  font-family: 'awesome-brands';
  font-style: normal;
  font-weight: 400;
  src: url('https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: $n1;
  line-height: 1.5em;

  @media print {
    font-size: 12pt;
  }
}

:root {
  --decoration-color: #{$decoration-color-hsl};
}

a {
  color: $n1;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Roboto', serif;
  font-weight: 100;
}

@include d-lg {
  body {
    width: 1300px;
    margin: 0 auto;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .3);
  }
}

@include d-nlg {
  body {
    margin: 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

@page  { 
  margin: 1cm;  
} 