@import 'styles/_variables.scss';

.header {
  display: flex;
  border-bottom: 3px solid $d1;
  padding: $padding-outer;

  @include d-usm {
    flex-direction: column;
    align-items: center;
  }

  .download {
    font-family: 'awesome';
    font-weight: 900;
    font-size: .5em;
    margin-left: .5em;
    color: $d1;

    @media print {
      display: none;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    flex-grow: 1;

    .title {
      h1 {
        text-transform: uppercase;
      }

      h1, h2 {
        margin: .3em 0;
      }

      @include d-usm {
        text-align: center;
      }
    }

    .description {
      display: block;
      text-align: justify;
      max-width: 90%;
      flex-grow: 1;

      @include d-usm {
        margin: 0 auto;
        text-align: center;
        margin: 3% 3%;
      }
    }
  }
}