@import 'styles/_variables.scss';


.header {
  display: flex;
  border-bottom: 3px solid $d1;
  padding: $padding-outer;

  .download {
    font-family: 'awesome';
    font-weight: 900;
    font-size: .5em;
    margin-left: .5em;
    color: $d1;

    @media print {
      display: none;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    flex-grow: 1;

    .title {
      h1 {
        text-transform: uppercase;
      }
    }

    .description {
      display: block;
      max-width: 80%;
    }
  }
}