@import 'styles/_variables.scss';

@media not print {
  .app {
     background-color: $bg1; 
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding: $padding-outer;
  flex-wrap: wrap;

  .left, .right {
    width: 45%;
  }
}