@import 'styles/_variables.scss';

.skill {
  color: $n2;
  padding: 15px;
  border-radius: 20px;
  margin: 5px;

  @media print {
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
  }
  
  @at-root details#{&} {
    cursor: pointer;
  }

  p {
    margin: 5px 0 0 0;
  }

  &.hidden {
    @media not print {
      display: none;
    }
  }

  &.noPrint {
    @include hideprint
  }

  @media print {
    summary {
      list-style-type: none;
  
      &::-webkit-details-marker {
        display:none; 
      }
    }

    summary ~ p {
      display: none;
    }
  }
}