@import 'styles/_variables.scss';

.skill {
  background-color: $d1;
  color: $n2;
  padding: 15px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;

  :not(summary) {
    transform: translateX(-10px);
    transition: transform 200ms;
  }

  &[open] :not(summary) {
    transform: translateX(0);
  }

  @media print {
    summary {
      list-style-type: none;
  
      &::-webkit-details-marker {
        display:none; 
      }
    }
  }
}